USE [TFGM]
GO
/****** Object:  Table [dbo].[TfGMPostCodes]    Script Date: 08/05/2019 18:12:11 ******/
DROP TABLE [dbo].[TfGMPostCodes]
GO
/****** Object:  Table [dbo].[TfGMPostCodes]    Script Date: 08/05/2019 18:12:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TfGMPostCodes](
	[id] [int] NOT NULL,
	[src] [varchar](50) NULL,
	[FormattedAddress] [varchar](300) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TfGMPostCodes] ([id], [src], [FormattedAddress]) VALUES (93, N'ScootLoop', N'M8 8LG')
GO
INSERT [dbo].[TfGMPostCodes] ([id], [src], [FormattedAddress]) VALUES (94, N'ScootLoop', N'M8 8QJ')
GO
INSERT [dbo].[TfGMPostCodes] ([id], [src], [FormattedAddress]) VALUES (95, N'ScootLoop', N'M8 8LQ')
GO
